#pages.container
  %h2 Toscalinks
  %a{:href=>"http://pjambet.github.com/blog/direct-upload-to-s3/"}
    S3 upload
  %a{:href => "https://github.com/posabsolute/jQuery-Validation-Engine"}
    Validation engine
  %a{:href => "https://github.com/plataformatec/devise/wiki/How-To:-Allow-users-to-sign-in-using-their-username-or-email-address"}
    Devise with username
  %a{:href => "http://viljamis.com/blog/2012/file-upload-support-on-mobile/"}
    Upload files from mobile
  %a{:href => "http://codepen.io/theCSSguru/pen/kcKml"}
    Custom bootstrap buttons
  %a{:href => "http://cloud.github.com/downloads/Dhirajkumar/Demos/cool-notification-message-with-css3-and-jquery.htm#"}
    Notifications messages
  %a{:href => "http://tympanus.net/codrops/2012/11/29/simple-effects-for-drop-down-lists/"}
    User menu with cool dropdown
  %a{:href => "http://tympanus.net/codrops/2012/06/18/3d-thumbnail-hover-effects/"}
    Hover 3D effect for showing cromo data
  %a{:href =>"http://tutorialzine.com/2012/04/5-lightweight-jquery-alternatives/"}
    JQuerymobile alternatives
  %a{:href => "http://stackoverflow.com/questions/5389575/heroku-how-to-redirect-http-to-http-www"}
    Without www to www
  %a{:href=>"http://css-tricks.com/five-use-cases-for-icon-fonts/?utm_source=dlvr.it&utm_medium=twitter"}
    5 use cases for icons
  %a{:href=>"http://www.smashingmagazine.com/2013/01/06/freebie-gemicon-icon-set-600-psd-source-png/"}
    Iconos set 600

  %a{:href => "https://github.com/niklasvh/html2canvas/downloads"}
    Screenshots via javascript
  %a{:href => "http://www.jqueryrain.com/?FsPCvWHL"}
    Cool tooltips
  %a{:href => "http://www.opentip.org/"}
    Open tips, even cooler tooltips
  %a{:href => "http://codepen.io/bennettfeely/full/ErFGv"}
    Cool Twitter button
  %a{:href => "http://railscasts.com/episodes/360-facebook-authentication?view=asciicast"}
    Facebook authentication Rails Cast
  %a{:href => "http://vitalets.github.com/x-editable/demo.html?c=popup"}
    Inline editing, great one
  %hr
  %a{:href => "https://docs.google.com/spreadsheet/ccc?key=0AoPH4uHNQ5dLdHdjRXB1TTRWRWhqOE10RmxabV9td2c"}
    Google spreadsheet con todo apuntao