#pages.container
  %h2 Toscalinks
  %a{:href=>"http://pjambet.github.com/blog/direct-upload-to-s3/"}
    S3 upload
  %a{:href => "https://github.com/posabsolute/jQuery-Validation-Engine"}
    Validation engine
  %a{:href => "https://github.com/plataformatec/devise/wiki/How-To:-Allow-users-to-sign-in-using-their-username-or-email-address"}
    Devise with username
  %a{:href => "http://viljamis.com/blog/2012/file-upload-support-on-mobile/"}
    Upload files from mobile
