#pages.container
  %h2 Toscalinks
  %a{:href=>"http://pjambet.github.com/blog/direct-upload-to-s3/"}
    S3 upload
  %a{:href => "https://github.com/posabsolute/jQuery-Validation-Engine"}
    Validation engine
  %a{:href => "https://github.com/plataformatec/devise/wiki/How-To:-Allow-users-to-sign-in-using-their-username-or-email-address"}
    Devise with username
  %a{:href => "http://viljamis.com/blog/2012/file-upload-support-on-mobile/"}
    Upload files from mobile
  %a{:href => "http://codepen.io/theCSSguru/pen/kcKml"}
    Custom bootstrap buttons
  %a{:href => "http://cloud.github.com/downloads/Dhirajkumar/Demos/cool-notification-message-with-css3-and-jquery.htm#"}
    Notifications messages
  %a{:href => "http://tympanus.net/codrops/2012/11/29/simple-effects-for-drop-down-lists/"}
    User menu with cool dropdown

  %hr
  %a{:href => "https://docs.google.com/spreadsheet/ccc?key=0AoPH4uHNQ5dLdHdjRXB1TTRWRWhqOE10RmxabV9td2c"}
    Google spreadsheet con todo apuntao