- content_for :head do
  = javascript_include_tag "votos_mobile"

.top-buttons
  %a.btn{:href => cards_path, :class => ("active" if current_page?(cards_path))}
    +Votados 
  %a.btn{:href => nuevos_cards_path, :class => ("active" if current_page?(nuevos_cards_path)  || current_page?(root_path))}
    +Nuevos

#cromos 
  - @cards.each do |card|
    = render 'cards/smartphone/cromo', :card => card

