.container.extended {
  width:95%;
  opacity:1;
}
#header {
  .navbar {    border-bottom:5px solid white !important;}
  #signin_form {
    margin-top:20px;
    #signin { text-align:center;}
    button { border-radius: 5px; }
    input {      margin-bottom:15px;    }
    #daleaqui {
      top:10px; 
      display:inline;
      position:relative;
    }
  }
}
#cromos {
  width:100%;
  margin-top:-50px;
  position:relative;
  clear:both;
}
.cromo {
  position:absolute;
  width:510px;
  background-color:white;
  border:1px solid lightgray;
  border-radius:5px;
  -webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 4px 4px 3px rgba(0,0,0,0.6);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
  .inside {
    width:500px;
    margin:auto;
    text-align:center;
    padding-top:50px;
    img {
      display:none;
      max-width:450px;
      border:1px double gray;
      -webkit-transition: opacity 0.3s;
 
    }
    .comment {
      height:100px;
      width:500px;
      p {
        position:relative;
        top:100px;
        height:0px;
        overflow:hidden;
        margin-top:20px;
        font-size:38px;
        line-height:38px;
        font-family:'Mouse Memoirs', Arial, serif; 
        font-weight: 400; 
      }
    }
  }
}
