#pages a {
  display: block;
  font-size: 16px;
  line-height: 30px;
}

.btn, .btn:hover {
  color: #88a5b1;
}

.btn-primary, .btn-primary:hover, .btn-info, .btn-info:hover, .btn-success, .btn-success:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-inverse, .btn-inverse:hover {
  color: #fff;
}

.btn {
  font: 12px Helvetica;
  padding: 8px 22px 6px;
  margin: 0;
  border: none;
  border-bottom: 3px #aacedd solid;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f8f8f8));
  background-image: -webkit-linear-gradient(#ffffff, #f8f8f8);
  background-image: -moz-linear-gradient(#ffffff, #f8f8f8);
  background-image: -o-linear-gradient(#ffffff, #f8f8f8);
  background-image: linear-gradient(#ffffff, #f8f8f8);
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
}
/* line 15, ../../app/assets/stylesheets/bythesegao.css.scss */
.btn:hover {
  cursor: pointer;
}
.btn:active {
  position: relative;
  top: 3px;
  border: none;
}

.btn-primary {
  border-bottom: 3px #000609 solid;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0079bb), color-stop(100%, #005888));
  background-image: -webkit-linear-gradient(#0079bb, #005888);
  background-image: -moz-linear-gradient(#0079bb, #005888);
  background-image: -o-linear-gradient(#0079bb, #005888);
  background-image: linear-gradient(#0079bb, #005888);
}
.btn-primary:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009aee), color-stop(100%, #005888));
  background-image: -webkit-linear-gradient(#009aee, #005888);
  background-image: -moz-linear-gradient(#009aee, #005888);
  background-image: -o-linear-gradient(#009aee, #005888);
  background-image: linear-gradient(#009aee, #005888);
}

.btn-info {
  border-bottom: 3px #206376 solid;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #71c1d8), color-stop(100%, #49afcd));
  background-image: -webkit-linear-gradient(#71c1d8, #49afcd);
  background-image: -moz-linear-gradient(#71c1d8, #49afcd);
  background-image: -o-linear-gradient(#71c1d8, #49afcd);
  background-image: linear-gradient(#71c1d8, #49afcd);
}
.btn-info:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99d2e3), color-stop(100%, #49afcd));
  background-image: -webkit-linear-gradient(#99d2e3, #49afcd);
  background-image: -moz-linear-gradient(#99d2e3, #49afcd);
  background-image: -o-linear-gradient(#99d2e3, #49afcd);
  background-image: linear-gradient(#99d2e3, #49afcd);
}

.btn-success {
  border-bottom: 3px #2d662d solid;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7ec77e), color-stop(100%, #5bb75b));
  background-image: -webkit-linear-gradient(#7ec77e, #5bb75b);
  background-image: -moz-linear-gradient(#7ec77e, #5bb75b);
  background-image: -o-linear-gradient(#7ec77e, #5bb75b);
  background-image: linear-gradient(#7ec77e, #5bb75b);
}
.btn-success:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2d6a2), color-stop(100%, #5bb75b));
  background-image: -webkit-linear-gradient(#a2d6a2, #5bb75b);
  background-image: -moz-linear-gradient(#a2d6a2, #5bb75b);
  background-image: -o-linear-gradient(#a2d6a2, #5bb75b);
  background-image: linear-gradient(#a2d6a2, #5bb75b);
}

.btn-warning {
  border-bottom: 3px #a86404 solid;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbbc64), color-stop(100%, #faa732));
  background-image: -webkit-linear-gradient(#fbbc64, #faa732);
  background-image: -moz-linear-gradient(#fbbc64, #faa732);
  background-image: -o-linear-gradient(#fbbc64, #faa732);
  background-image: linear-gradient(#fbbc64, #faa732);
}
.btn-warning:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcd296), color-stop(100%, #faa732));
  background-image: -webkit-linear-gradient(#fcd296, #faa732);
  background-image: -moz-linear-gradient(#fcd296, #faa732);
  background-image: -o-linear-gradient(#fcd296, #faa732);
  background-image: linear-gradient(#fcd296, #faa732);
}

.btn-danger {
  border-bottom: 3px #88201c solid;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e37873), color-stop(100%, #da4f49));
  background-image: -webkit-linear-gradient(#e37873, #da4f49);
  background-image: -moz-linear-gradient(#e37873, #da4f49);
  background-image: -o-linear-gradient(#e37873, #da4f49);
  background-image: linear-gradient(#e37873, #da4f49);
}
.btn-danger:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eba19e), color-stop(100%, #da4f49));
  background-image: -webkit-linear-gradient(#eba19e, #da4f49);
  background-image: -moz-linear-gradient(#eba19e, #da4f49);
  background-image: -o-linear-gradient(#eba19e, #da4f49);
  background-image: linear-gradient(#eba19e, #da4f49);
}

.btn-inverse {
  border-bottom: 3px black solid;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #505050), color-stop(100%, #363636));
  background-image: -webkit-linear-gradient(#505050, #363636);
  background-image: -moz-linear-gradient(#505050, #363636);
  background-image: -o-linear-gradient(#505050, #363636);
  background-image: linear-gradient(#505050, #363636);
}
.btn-inverse:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696969), color-stop(100%, #363636));
  background-image: -webkit-linear-gradient(#696969, #363636);
  background-image: -moz-linear-gradient(#696969, #363636);
  background-image: -o-linear-gradient(#696969, #363636);
  background-image: linear-gradient(#696969, #363636);
}

.btn-large {
  font-size: 18px;
  padding: 12px 22px 10px;
}

.btn-small {
  font-size: 11px;
  padding: 8px 16px 6px;
}

.btn-mini {
  font-size: 9px;
  padding: 7px 12px 5px;
}

.container.extended {
  width:95%;
  opacity:1;
}
.navbar {    border-bottom:10px solid white !important;}
#header {
  #signin_form, #login_form {
    margin-top:20px;
    #signin { text-align:center;}
    button { border-radius: 5px; }
    input {      margin-bottom:15px;    }
    .daleaqui {
      top:10px; 
      display:inline;
      position:relative;
    }
  }
}
#cromos {
  width:100%;
  position:relative;
  clear:both;
}
.cromo {
  position:absolute;
  width:510px;
  background-color:white;
  border:1px solid lightgray;
  border-radius:5px;
  -webkit-box-shadow: 14px 14px 30px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 14px 14px 30px rgba(0,0,0,0.6);
  box-shadow: 14px 14px 30px rgba(0, 0, 0, 0.6);
  .inside {
    width:500px;
    margin:auto;
    text-align:center;
    padding-top:50px;
    img {
      display:none;
      max-width:450px;
      border:1px double gray;
      -webkit-transition: opacity 0.3s;
 
    }
    .comment {
      height:100px;
      width:500px;
      p {
        position:relative;
        top:100px;
        height:0px;
        overflow:hidden;
        margin-top:20px;
        font-size:38px;
        line-height:38px;
        font-family:'Mouse Memoirs', Arial, serif; 
        font-weight: 400; 
      }
    }
  }
}
#pictures {
 clear:both;
 margin:0 auto;
 width:95%;
 position:relative;
}
.picture {
  float: left;
  img {
    margin-top:10px;
    padding: 5px;
    background: white;
    font-size: 11px;
    line-height: 1.4em;
    display:block;
    width:100%;
    max-width:500px;
  }
}


#signin_big_form {
  margin-top:20px;
  input {
    margin-bottom:15px;
  }
  button {
    clear:both;
    display:block;
    border-radius:5px;
  }
}
#cards_from_picture {
  .container {
    opacity:1;
  }
  #user-form { padding:20px; }
  .btn:hover {
    text-decoration:none;
  }
  #user-form {
    text-align:left;
  }
  .container#titulo {
    img {
      margin-top:15px;
      max-width:450px;
    }
    input {
      margin-top:10px;
    }
    margin:auto;
    margin-bottom:none;
    text-align:center;
    width:500px;
    h3 {
      font-size:48px;
      font-family: 'Waiting for the Sunrise', cursive;
      margin-top:10px;

    }
    #stats {
      text-align:right;
      margin-top:15px;
      p {
        line-height:8px;
      }
    }
  }
  #crearCromo, #logueate {
    position:relative;
    top:20px;
  }
  #cromoForm {
    display:none;
    textarea {
      display:block;
      font-size:38px;
      line-height:38px;
      font-family:'Mouse Memoirs', Arial, serif; 
      font-weight: 400; 
      resize:none;
      height:150px;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:50px;
    }
    .btn {
      margin:20px;
    }

  }
  .message.no-hide {
    p {    line-height:26px;  }
    input {
      margin-top:10px;
    }
  }
}
.message{
     -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
     background-size: 40px 40px;
     background-image: -webkit-gradient(linear, left top, right bottom,
                color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
                color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
                color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
                         to(transparent));
     background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                         transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                         transparent 75%, transparent);
     background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                         transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                         transparent 75%, transparent);
     background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                          transparent 75%, transparent);
     background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                           transparent 75%, transparent);
     background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                           transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);
     -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     width: 100%;
     border: 1px solid;
     color: #fff;
     padding: 15px;
     position: fixed;
     _position: absolute;
     text-shadow: 0 1px 0 rgba(0,0,0,.5);
     -webkit-animation: animate-bg 5s linear infinite;
     -moz-animation: animate-bg 5s linear infinite;

     width:400px;
     left:0;
     right:0;
     margin: auto;
     z-index:99999;
     p {
      font-size:14px;
     }
}
.info{
     background-color: #4ea5cd;
     border-color: #3b8eb5;
     h3 {       color:white;     }
}

.error{
     background-color: #de4343;
     border-color: #c43d3d;
     h3 {       color:white;     }
     h2 {color:white; font-size:14px; line-height:16px;}
     h4 {color:white; }
     ul { margin-top:10px; list-style-type:none;}
}

.warning{
     background-color: #eaaf51;
     border-color: #d99a36;
}

.success{
     background-color: #61b832;
     border-color: #55a12c;
}

.message h3{
     margin: 0 0 5px 0;
}

.message p{
     margin: 0;
}

@-webkit-keyframes animate-bg{
    from {
       background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

@-moz-keyframes animate-bg{
    from {
       background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}
