body {
  -webkit-user-select: none; // webkit (safari, chrome) browsers
  -moz-user-select: none; // mozilla browsers
  -khtml-user-select: none; // webkit (konqueror) browsers
}
.navbar {    border-bottom:1px solid gray !important;}
.container {
  opacity:1;
}
#header {
  #signin_form, #login_form {
  margin-top:20px;
  #signin { text-align:center;}
  button { border-radius: 5px; }
  input {      margin-bottom:15px;    }
  .daleaqui {
    top:10px; 
    display:inline;
    position:relative;
    }
  }
  .brand {
    margin-top:-10px !important;
    margin-bottom:10px !important;
    padding-left:10px !important;
  }
}
.top-buttons {
  top:-40px;
  margin:auto;
  position:relative;
  text-align:center;
  a {
    margin:10px;
  }
  a:hover {
    text-decoration:none;
  }
}
#cromo-container {
  #social {
    position:relative;
    width:100px;
    margin:auto;
    margin-top:20px;
    margin-bottom:30px;
  }
  #fb {
    margin:auto;
    margin-bottom:50px;
    display:inline;
    height:50px;
    overflow:hidden;
    iframe {
      height:62px !important;
      overflow:hidden !important;
    }
  }
  #twitter {
    position:relative;
    top:-10px;
    left:3px;
    display:inline;
    margin-right:10px;
    width:70px;
    height:50px;
    margin:auto;
  }
}
.cromo.mobile {
  margin-top:10px;
  margin:auto;
  margin-bottom:100px;
  position:relative;
  display:block;
  .inside {
    .comment {
      height:auto;
      p {
        top:0px;
        height:auto;
      }
    }
  }
}
.cromo {
  position:absolute;
  width:90%;
  background-color:white;
  border:1px solid lightgray;
  border-radius:10px 10px 0px 0px;
  -webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 4px 4px 3px rgba(0,0,0,0.6);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
  .credits {
    font-size:12px;
    float:right;
    color:white;
    position:relative;
    top:-20px;
    right:12px;
    border:1px solid darkgray;
    border-radius:7px 7px 0px 0px;
    padding:3px;
    padding-top:0px;
    background-color:darkgray;
    z-index:1;
    height:15px;
    a {
      font-weight:bold;
      text-decoration:none;
      color:#CBDEF2;
    }
    a:hover {
      color:black;
    }
  }
  .inside {
    z-index:10;
    width:100%;
    margin:auto;
    text-align:center;
    padding-top:30px;
    a {
      text-decoration:none;
      color:black;
    }
    img {
      max-width:85%;
      border:1px double gray;
      -webkit-transition: opacity 0.3s;
 
    }
    .comment {
      width:95%;
      margin:auto;
      p {
        position:relative;
        top:100px;
        height:0px;
        overflow:hidden;
        margin-top:20px;
        font-size:30px;
        line-height:30px;
        font-family:'Mouse Memoirs', Arial, serif; 
      }
    }
  }
  .votosContainer {
    float:right;
    position:absolute;
    bottom:-55px;  
    height:50px;
    width:100px;
    left:20px;
    .votos {
      width:100px;
      position:relative;
      height:55px;
      background-color:darkgray;
      border:1px solid darkgray;
      border-radius:0px 0px 7px 7px;
      padding:3px;
      z-index:99;
      .imgContainer {
        height:50px;
        float:left;
      }
      .cromoplus img{
        position:relative;
        cursor:pointer;
      }
      .cromoplus.clicked img{
        opacity:0.5 !important;
      }
    }
    .numeroVotos {
      float:right;
      font-size:30px;
      color:white;
      display:inline;
      position:relative;
      top:15px;
      right:5px;
      margin:auto;
      letter-spacing:-1px;

      img {
        position:relative;
        top:-5px;
        left:30px;
      }
    }
  }
}
