#cromo-container {
  #social {
    position:relative;
    width:510px;
    margin:auto;
    margin-top:20px;
    padding-left:400px;
    margin-bottom:30px;
  }
  #fb {
    margin:auto;
    margin-bottom:50px;
    display:inline;
  }
  #twitter {
    position:relative;
    top:3px;
    left:-30px;
    display:inline;
    margin-right:10px;
    width:70px;
    height:50px;
    margin:auto;
  }
  .cromo {
    margin:auto;
    position:relative;
    margin-top:30px;
    .credits {
      height:25px !important;
      top:-37px !important;
      display:block;
      width:auto;
      padding:5px;
      font-size:18px;
    }
    .votos {
      left:0px;
    }
  }
  #operations {
    margin:auto;
    position:relative;
    text-align:center;
    margin-bottom:20px;
    h3 {
      margin-top:20px;
    }
  }
  #comments {
    margin:auto;
    margin-top:40px;
    width:600px;
    #nadie {
      display:inline;
      font-size:20px;
      margin:20px;
    }
    .porcomentar {
      clear:both;
      margin:0px;
      padding:0px;
      margin-bottom:-40px;
    }
    .porcomentar.right {
      float:right;
    }
    .user {
      clear:both;
      display:table-cell;
      .username {
        font-size:14px;
        display:inline;
        font-weight:bold;
      }
    }
    .com {
      display:inline-block;
      position:relative;
      min-width:200px;
      max-width:440px;
      top:-10px;
    }
    .com.right {
      background-color:#49afcd;
    }
    .triangle-right.right::after {
      border-color: transparent #49afcd;
      top:40%;
    }
    .triangle-right.left::after {
      top:40%;
    }

    #ladrido {
      clear:both;
      background-color:black;
      input {
        height:30px;
        width:560px;
      }
    }
  }
}
#pages a {
  display: block;
  font-size: 16px;
  line-height: 30px;
}

.container.extended {
  width:95%;
  opacity:1;
}
.navbar {    border-bottom:10px solid white !important;}
#header {
  #signin_form, #login_form {
    margin-top:20px;
    #signin { text-align:center;}
    button { border-radius: 5px; }
    input {      margin-bottom:15px;    }
    .daleaqui {
      top:10px; 
      display:inline;
      position:relative;
    }
  }
}
.top-buttons {
  top:-30px;
  margin:auto;
  position:relative;
  text-align:center;
  a {
    margin:20px;
  }
  a:hover {
    text-decoration:none;
  }
}
.ordenAquiCopon {
  margin:auto;
  position:relative;
  text-align:center;
  a {
    padding:10px;
    margin:10px;
  }
}
#cromos {
  width:100%;
  position:relative;
  clear:both;
}
.cromo {
  position:absolute;
  width:510px;
  background-color:white;
  border:1px solid lightgray;
  border-radius:10px 10px 0px 0px;
  -webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 4px 4px 3px rgba(0,0,0,0.6);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
  .credits {
    display:none;
    float:right;
    color:white;
    position:relative;
    top:0px;
    right:12px;
    border:1px solid darkgray;
    border-radius:7px 7px 0px 0px;
    padding:3px;
    padding-top:0px;
    background-color:darkgray;
    z-index:1;
    height:0px;
    a {
      font-weight:bold;
      text-decoration:none;
      color:#CBDEF2;
    }
    a:hover {
      color:black;
    }
  }
  .votosContainer {
    float:left;
    position:absolute;
    top:10px;  
    height:100px;
    width:55px;
    left:-55px;
    overflow:hidden;
    .votos {
      width:48px;
      position:relative;
      height:90px;
      left:55px;
      background-color:darkgray;
      border:1px solid darkgray;
      border-radius:7px 0px 0px 7px;
      padding:3px;
      z-index:99;
      .imgContainer {
        height:50px;
      }
      .cromoplus img{
        position:relative;
        cursor:pointer;
      }
      .cromoplus.clicked img{
        opacity:0.5 !important;
      }
    }
    .numeroVotos {
      font-size:25px;
      color:white;
      display:inline;
      position:relative;
      top:10px;
      margin:auto;
      letter-spacing:-1px;

      img {
        position:relative;
        top:-13px;
        left:30px;
      }
    }

  }
  .inside {
    z-index:10;
    width:500px;
    margin:auto;
    text-align:center;
    padding-top:50px;
    a {
      text-decoration:none;
      color:black;
    }
    img {
      display:none;
      max-width:450px;
      border:1px double gray;
      -webkit-transition: opacity 0.3s;
 
    }
    .comment {
      height:100px;
      width:500px;
      p {
        position:relative;
        top:100px;
        height:0px;
        overflow:hidden;
        margin-top:20px;
        font-size:38px;
        line-height:38px;
        font-family:'Mouse Memoirs', Arial, serif; 
        font-weight: 400; 
      }
    }
  }
  .commentIcon {
    display:block;
    position:absolute;
    bottom:-30px;
    left:-30px;
    .cNumber {
      position:relative;
      top:-40px;
      color:white;
      font-size:18px;
      left:15px;
      font-weight:bold;
    }
    .cNumber:hover {
      color:black;
    }
  }

}
#pictures {
 clear:both;
 margin:0 auto;
 width:95%;
 position:relative;
}
.picture {
  float: left;
  img {
    margin-top:10px;
    padding: 5px;
    background: white;
    font-size: 11px;
    line-height: 1.4em;
    display:block;
    width:100%;
    max-width:500px;
  }
}


#signin_big_form {
  margin-top:20px;
  input {
    margin-bottom:15px;
  }
  button {
    clear:both;
    display:block;
    border-radius:5px;
  }
}
#cards_from_picture {
  .container {
    opacity:1;
  }
  #user-form { padding:20px; }
  .btn:hover {
    text-decoration:none;
  }
  #user-form {
    text-align:left;
  }
  .container#titulo {
    img {
      margin-top:15px;
      max-width:450px;
    }
    input {
      margin-top:10px;
    }
    margin:auto;
    margin-bottom:none;
    text-align:center;
    width:500px;
    h3 {
      font-size:48px;
      font-family: 'Waiting for the Sunrise', cursive;
      margin-top:10px;

    }
    #stats {
      text-align:right;
      margin-top:15px;
      p {
        line-height:8px;
      }
    }
  }
  #crearCromo, #logueate {
    position:relative;
    top:20px;
  }
  #cromoForm {
    display:none;
    textarea {
      display:block;
      font-size:38px;
      line-height:38px;
      font-family:'Mouse Memoirs', Arial, serif; 
      font-weight: 400; 
      resize:none;
      height:150px;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:50px;
    }
    .btn {
      margin:20px;
    }

  }
  .message.no-hide {
    p {    line-height:26px;  }
    input {
      margin-top:10px;
    }
  }
}
.message{
     -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
     background-size: 40px 40px;
     background-image: -webkit-gradient(linear, left top, right bottom,
                color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
                color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
                color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
                         to(transparent));
     background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                         transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                         transparent 75%, transparent);
     background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                         transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                         transparent 75%, transparent);
     background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                          transparent 75%, transparent);
     background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                           transparent 75%, transparent);
     background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                           transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);
     -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     width: 100%;
     border: 1px solid;
     color: #fff;
     padding: 15px;
     position: fixed;
     _position: absolute;
     text-shadow: 0 1px 0 rgba(0,0,0,.5);
     -webkit-animation: animate-bg 5s linear infinite;
     -moz-animation: animate-bg 5s linear infinite;

     width:400px;
     left:0;
     right:0;
     margin: auto;
     z-index:99999;
     p {
      font-size:14px;
     }
}
.info{
     background-color: #4ea5cd;
     border-color: #3b8eb5;
     h3 {       color:white;     }
}

.error{
     background-color: #de4343;
     border-color: #c43d3d;
     h3 {       color:white;     }
     h2 {color:white; font-size:14px; line-height:16px;}
     h4 {color:white; }
     ul { margin-top:10px; list-style-type:none;}
}

.warning{
     background-color: #eaaf51;
     border-color: #d99a36;
}

.success{
     background-color: #61b832;
     border-color: #55a12c;
}

.message h3{
     margin: 0 0 5px 0;
}

.message p{
     margin: 0;
}

@-webkit-keyframes animate-bg{
    from {
       background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

@-moz-keyframes animate-bg{
    from {
       background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}
ul.social {
  display:none;
  list-style-type:none;
  position:absolute;
  right:10px;
  bottom:-40px;
  li {
    float:left;
    padding:5px;
  }
}