#header.navbar.navbar-fixed-top
  .navbar-inner
    .container.extended
      %a.brand
        By The Segao<br/>
        %h6{:style=> "color:white"} is the way
      .nav-collapse
        %ul.nav.pull-right
          %li.divider-vertical
          %li.dropdown
            %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
              Registrander
              %strong.caret
            .dropdown-menu{:style => "padding: 15px; padding-bottom:0px"}
              %form
                %input{:type => "text", :placeholder => "Username", :style=>"margin-bottom:15px"}

        %ul.nav
          %li.active
            %a{:href => "#"} Cromos
          %li
            %a{:href => "#"} Imágenes


			
  