#header.navbar.navbar-fixed-top
  .navbar-inner
    .container.extended
      %a.brand
        By The Segao<br/>
        %h6{:style=> "color:white"} is the way
      .nav-collapse
        %ul.nav.pull-right
          %li.divider-vertical
          %li.dropdown
            %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
              Registrander
              %strong.caret
            .dropdown-menu{:style => "padding: 15px; padding-bottom:0px"}
              %h4 Regístrate y empieza a enviar imágenes y crear cromos tu también!!
              %form#signin_form
                %input{:type => "text", :placeholder => "Usernamer"}
                %input{:type => "text", :placeholder => "Email"}
                %input{:type => "password", :placeholder => "Contraseñer"}
                %input{:type => "password", :placeholder => "Contraseñer otra vez"}
                %button#signin.btn.btn-inverse{:href => "#"}
                  Let me in
                #daleaqui
                  = image_tag "declare.gif"

        %ul.nav
          %li.active
            %a{:href => "#"} Cromos
          %li
            %a{:href => "#"} Imágenes


			
  